// In this file are our own app-colors defined
@import "variables.scss";
/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: rgb(33,147,176);
  background: $app-primary-gradient;
  height: 100vh;
  width: 100vw;
}
