@import './../../../variables.scss';

.termino-toolbar {
  background-color: white;
  border-bottom: 1px solid #e5e7e9;
}

.termino-app-name {
  margin-left: 10px !important;
}


@media (max-width: 600px) {
  .termino-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }
}

mat-icon {
  transform: scale(1.5);
  color: $primary;
}